In [1]:
import pandas as pd
#Data can also be exported to a delimited format. 
data = pd.read_csv("data/ex5.csv")

In [2]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [3]:
data.to_csv("data/out.csv")

In [4]:
!cat data/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [5]:
import sys

In [6]:
data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [7]:
#Before we look at a large file, we make the pandas display settings more compact:
pd.options.display.max_rows = 10

In [8]:
result = pd.read_csv("data/ex6.csv")

In [9]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [10]:
#Reading a file in pieces specify a chunksize as a number of rows:
chunker = pd.read_csv("data/ex6.csv", chunksize=1000)

In [11]:
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [12]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [13]:
data.to_csv(sys.stdout, index=False, columns=["a", "b", "c"])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [14]:
!cat data/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [15]:
import csv

In [16]:
f = open("data/ex7.csv")

In [17]:
reader = csv.reader(f)

In [18]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [19]:
f.close()

In [20]:
with open("data/ex7.csv") as f:
    lines = list(csv.reader(f))

In [21]:
header, values = lines[0], lines[1:]

In [22]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [23]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [24]:
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)

ValueError: I/O operation on closed file.

In [ ]:
with open("mydata.csv", "w") as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(("one", "two", "three"))
    writer.writerow(("1", "2", "3"))
    writer.writerow(("4", "5", "6"))
    writer.writerow("Young", "blud", "NeverBroke")

JSON Data

In [ ]:
obj = """
    {"name": "Wes",
     "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
     "pet": null,
     "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
                  {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
} """

In [ ]:
import json

In [ ]:
result = json.loads(obj)

In [ ]:
result

In [ ]:
#Converting python object back to JSON
asjson = json.dumps(result)

In [ ]:
asjson

In [ ]:
siblings = pd.DataFrame(result["siblings"], columns=["name", "age"])

In [ ]:
siblings

In [ ]:
!cat data/example.json

In [ ]:
data = pd.read_json("data/example.json")

In [ ]:
data

In [ ]:
data.to_json(sys.stdout)

In [ ]:
data.to_json(sys.stdout, orient="records")

In [25]:

%pip install lxml

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: lxml in /opt/homebrew/lib/python3.9/site-packages (5.1.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: /opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd
tables = pd.read_html("data/fdic_failed_bank_list.html")

In [27]:
len(tables)

1

In [28]:
failures = tables[0]

In [29]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [30]:
close_timestamps = pd.to_datetime(failures["Closing Date"])

In [31]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [32]:
from lxml import objectify

In [35]:
path = "data/mta_perf/Performance_MNR.xml"

In [37]:
data = []

In [38]:
skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ", "DESIRED_CHANGE", "DECIMAL_PLACES"]

In [41]:
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_yields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

NameError: name 'root' is not defined

In [42]:
frame = pd.read_csv("data/ex1.csv")

In [43]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [44]:
frame.to_pickle("data/frame_pickle")

In [45]:
pd.read_pickle("data/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [46]:
%pip install openpyxl xlrd

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: openpyxl in /opt/homebrew/lib/python3.9/site-packages (3.0.9)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: et-xmlfile in /opt/homebrew/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Installing collected packages: xlrd
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: /opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [47]:
xlsx = pd.ExcelFile("data/ex1.xlsx")