In [2]:
import numpy as np
import pandas as pd

In [3]:
tips = pd.read_csv("data/tips.csv")

In [4]:
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [5]:
party_counts = pd.crosstab(tips["day"], tips["size"])

In [8]:
!pip install scipy

Collecting scipy
  Downloading scipy-1.13.1-cp311-cp311-macosx_12_0_arm64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 1.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy<2.3,>=1.22.4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scipy) (1.24.2)
Downloading scipy-1.13.1-cp311-cp311-macosx_12_0_arm64.whl (30.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.3/30.3 MB 5.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: scipy
Successfully installed scipy-1.13.1

In [9]:
comp1 = np.random.standard_normal(200)

In [10]:
comp2 = 10 + 2 * np.random.standard_normal(200)

In [11]:
values = pd.Series(np.concatenate([comp1, comp2]))

In [12]:
sns.histplot(values, bins=100, color="black")

NameError: name 'sns' is not defined

In [15]:
macro = pd.read_csv("data/macrodata.csv")

In [16]:
data = macro[["cpi", "m1", "tbilrate", "unemp"]]

In [17]:
trans_data = np.log(data).diff().dropna()

In [18]:
trans_data.tail()

          cpi        m1  tbilrate     unemp
198 -0.007904  0.045361 -0.396881  0.105361
199 -0.021979  0.066753 -2.277267  0.139762
200  0.002340  0.010286  0.606136  0.160343
201  0.008419  0.037461 -0.200671  0.127339
202  0.008894  0.012202 -0.405465  0.042560

In [19]:
ax = sns.regplot(x="m1", y="unemp", data=trans_data)

NameError: name 'sns' is not defined

In [20]:
#tabular dataset as a DataFrame
df = pd.DataFrame({"key1": ["a", "a", None, "b", "b", "a", None],
                  "key2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
                  "data1": np.random.standard_normal(7),
                  "data2": np.random.standard_normal(7)})

In [21]:
df

   key1  key2     data1     data2
0     a     1  0.599541  0.286192
1     a     2 -1.035127 -2.209307
2  None     1  0.559079 -0.434922
3     b     2  1.476606  0.410406
4     b     1  0.043951 -0.750895
5     a  <NA> -1.281604 -0.438257
6  None     1  0.812946  0.569238

In [22]:
grouped = df["data1"].groupby(df["key1"])

In [23]:
grouped

In [25]:
grouped.mean()

key1
a   -0.572397
b    0.760278
Name: data1, dtype: float64

In [27]:
means = df["data1"].groupby([df["key1"], df["key2"]]).mean()

In [28]:
means

key1  key2
a     1       0.599541
      2      -1.035127
b     1       0.043951
      2       1.476606
Name: data1, dtype: float64

In [29]:
means.unstack()

key2         1         2
key1
a     0.599541 -1.035127
b     0.043951  1.476606

In [30]:
states = np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])

In [31]:
years = [2005, 2005, 2006, 2005, 2006, 2005, 2006]

In [33]:
df["data1"].groupby([states, years]).mean()

CA  2005   -1.158365
    2006    0.559079
OH  2005    1.038074
    2006    0.428449
Name: data1, dtype: float64

In [34]:
df.groupby("key1").mean()

      key2     data1     data2
key1
a      1.5 -0.572397 -0.787124
b      1.5  0.760278 -0.170245

In [35]:
df.groupby("key2").mean()

         data1     data2
key2
1     0.503879 -0.082597
2     0.220739 -0.899451

In [36]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    1     0.599541  0.286192
     2    -1.035127 -2.209307
b    1     0.043951 -0.750895
     2     1.476606  0.410406

In [37]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [38]:
df.groupby("key1", dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [39]:
df.groupby(["key1", "key2"], dropna=False).size()

key1  key2
a     1       1
      2       1
      NaN     1
b     1       1
      2       1
NaN   1       2
dtype: int64

In [40]:
df.groupby("key1").count()

      key2  data1  data2
key1
a        2      3      3
b        2      2      2

In [41]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  0.599541  0.286192
1    a     2 -1.035127 -2.209307
5    a  <NA> -1.281604 -0.438257
b
  key1  key2     data1     data2
3    b     2  1.476606  0.410406
4    b     1  0.043951 -0.750895

In [42]:
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print((k1, k2))
    print(group)

('a', 1)
  key1  key2     data1     data2
0    a     1  0.599541  0.286192
('a', 2)
  key1  key2     data1     data2
1    a     2 -1.035127 -2.209307
('b', 1)
  key1  key2     data1     data2
4    b     1  0.043951 -0.750895
('b', 2)
  key1  key2     data1     data2
3    b     2  1.476606  0.410406

In [43]:
pieces = {name: group for name, group in df.groupby("key1")}

In [44]:
pieces["b"]

  key1  key2     data1     data2
3    b     2  1.476606  0.410406
4    b     1  0.043951 -0.750895